<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonSubTypes" version="1.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="RestSharp" version="105.1.0" targetFramework="net462" />
  <package id="TextMagicClient" version="2.0.4420" targetFramework="net462" />
</packages>